<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>edu.fpt.comp1640.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>edu.fpt.comp1640.servlet.DashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>edu.fpt.comp1640.servlet.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>edu.fpt.comp1640.servlet.DownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>edu.fpt.comp1640.servlet.ArticleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>edu.fpt.comp1640.servlet.AdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StatisticServlet</servlet-name>
        <url-pattern>/statistic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StatisticServlet</servlet-name>
        <servlet-class>edu.fpt.comp1640.servlet.StatisticServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmissionServlet</servlet-name>
        <url-pattern>/submission</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmissionServlet</servlet-name>
        <servlet-class>edu.fpt.comp1640.servlet.SubmissionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>edu.fpt.comp1640.servlet.LogoutServlet</servlet-class>
    </servlet>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
